@media (min-width: 600px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr 2fr);
        margin: 24px auto;
    }
    .header {
        display: grid;
        grid-column: 3 / 5;
        width: 70%;
    }
    .featured-image-1 {
        grid-row: 1 / 3;
    }
    .article-1 {
        grid-row: 3 / 4;
    }
    .article-2 {
        grid-column: 4 / 5;
        grid-row: 4 / 5;
    }
    .featured-image-2,
    .number-2 {
        grid-column: 3 / 5;
        grid-row: 2 / 4;
    }
    .featured-image-3,
    .number-3 {
        grid-row: 4 / 6;
    }
    .featured-image-4,
    .number-4 {
        grid-column: 3 / 5;
        grid-row: 5 / 6;
    }
    .number-4 {
        font-size: 320px;
        grid-row: 5 / 7;
    }
    .article-3,
    .article-4 {
        grid-row: 6 / 7;
    }
    .article-4 {
        grid-column: 4 / 5;
    }
}

.underlined {
    display: inline;
    border-bottom: 3px solid #f9dd94;
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid #000;
    font-family: 'Roboto', serif;
    font-size: 16px;
    line-height: 0.1px;
    font-weight: 100;
}

.underlined:before,
.underlined:after {
    content: '\201C';
    font-family: 'Sanchez';
    color: #000;
}

.underlined:after {
    content: '\201D';
}

fa {
    color: #000 !important;
}

@media screen and (max-width: 980px) {
    .post {
        border-left: 0;
        border-right: 0;
        left: -3em;
        width: calc(100% + (3em * 2));
    }
    .post>header {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 3.75em 3em 1.25em;
        border-left: 0;
    }
    .post>header .title {
        display: flex;
        margin: 0 0 2em;
        padding: 0;
        text-align: center;
    }
    .post>header .meta {
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        border-left: 0;
        margin: 0 0 2em;
        padding-top: 0;
        padding: 0;
        text-align: left;
        width: 100%;
    }
    .post>header .meta>* {
        border-left: solid 1px #6e6e6e;
        margin-left: 2em;
        padding-left: 2em;
    }
    .post>header .meta> :first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
    }
    .post>header .meta .published {
        margin-bottom: 0;
        margin-top: 0;
    }
    .post>header .meta .author {
        -moz-flex-direction: row-reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        margin-bottom: 0;
    }
    .post>header .meta .author .name {
        margin: 0 0 0 1.5em;
    }
    .post>header .meta .author img {
        width: 3.5em;
    }
}

@media screen and (max-width: 736px) {
    .post {
        padding: 1.5em 1.5em 0.1em;
        left: -1.5em;
        margin: 0 0 2em;
        width: calc(100% + (1.5em * 2));
    }
    .post>header {
        padding: 3em 1.5em 0.5em;
        left: -1.5em;
        margin: -1.5em 0 1.5em;
        width: calc(100% + 3em);
    }
    .post>header .title h2 {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 480px) {
    .post>header .meta {
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .post>header .meta>* {
        border-left: 0;
        margin: 1em 0 0;
        padding-left: 0;
    }
    .post>header .meta .author .name {
        display: none;
    }
    .post>.image.featured {
        margin-left: -1.5em;
        margin-top: calc(-1.5em - 1px);
        width: calc(100% + 3em);
    }
    .post>footer {
        -moz-align-items: -moz-stretch;
        -webkit-align-items: -webkit-stretch;
        -ms-align-items: -ms-stretch;
        align-items: stretch;
        -moz-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .post>footer .stats {
        text-align: center;
    }
    .post>footer .stats li {
        margin: 0 0 0 1.25em;
        padding: 0 0 0 1.25em;
    }
}